.background_blue {
  background-color: hsl(212, 45%, 89%);
  /* Center this element */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Add margins */
  margin: 65px 150px 65px 150px;
  /* Add padding for element with class container */
  padding: 100px 25px;
  min-width: 400;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Making round corners */
  border-radius: 16px;
  padding: 20px 20px 27px 20px;
  max-width: 315px;
  min-width: 315px;
}

.container:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.qr_code {
  border-radius: 16px;
  height: 315px;
}

@keyframes qr_code_hover {
  from {
    box-shadow: 0;
  }
  to {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

.qr_code:hover {
  animation-name: qr_code_hover;
  animation-duration: 2.5s;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main_text {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
  margin-bottom: 17px;
  margin-top: 23px;
  font-size: 25px;
}

p {
  font-size: 19px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: hsl(212, 11%, 69%);
}

body {
  background-image: url('https://storage.googleapis.com/gweb-uniblog-publish-prod/images/AI-dots_1.width-1200.format-webp.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
